@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
:root {
--background-color: #6a8532;
--menu-color: #0d1d41;
--background-color-two: #B4DC7F;
}

h1 {
	font-size: 1.25em;
}
h2 {
	font-size: 1em;
}


body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 100vw;
	font-family: 'Oswald', sans-serif;
}

svg {
	height: 30px;
	width: 30px;
}
.icon {
	fill: white;
	align-self: center;
}
a {
	align-self: center;
}

.icon:hover {
	fill: #0d1d41;
}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--background-color);
	padding: 1em 3em;
	color: white;
	max-width: 100vw;
	font-weight: 500;
}

#contactArea {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
}

#welcomeArea {
	background-image: url("./pubinside.jpg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 100vw;
	color: white;
	
	z-index: 1;
}

#welcomeArea > * {
	width: 50%;
}

#welcomeTextArea {
	background-color: #0d1d41af;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2em;
	max-width: 50%;
	align-items: flex-start;
	padding: 8em 3em;
}

#welcomeTextArea > h1 {
	font-size: 3em;
}

ul {
	list-style-type: none;
	gap: 2px;
	text-align: center;
}

li {
	margin-bottom: 5px;
}

ul > p {
	font-style: italic;
}
.menuArea, .otherDetails {
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 7px;
	background-color: var(--menu-color);
	padding: 2em 0;
	height: 100%;
	align-items: center;
}

#menuSections > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
	width: 325px;
}

#menuSections {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	gap: 2em;
}

.menuHeader {
	align-self: center;
	width: max-content;
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
}

#menuTitle {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 1.5em;
	font-weight: 900;
	align-self: center;
	margin-bottom: 0.5em;
}

#menuTitle::after {
	content: '';
    position: static;
	align-self: center;
    border-top: 3px solid #000;
    width: 100%;
	background-color: black;
}

.menuHeader::after{
	content: '';
    position: static;
	align-self: center;
    border-top: 3px solid #000;
    width: 100%;
	background-color: black;
}

.otherDetails {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 2em;
	
}


#footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	color: white;
	height: 3em;
}

#facebookHolder {
	padding: 1em 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	min-height: 600px;
	background-image: url("./facebookbackground.jpg");
	background-size:  auto 100vw;
}

#facebookHolder > div {
	width: 500px;
	align-self: center;
}

#openingTimes, #pubQuiz {
	display: flex;
	flex-direction: column;
	gap: 2em;
	align-items: center;
}

#pubQuiz > p {
	text-align: center;
	margin: 0 1em;
}

.mapouter {
	align-self: center;
	max-width: 90vw;
}

@media only screen and (max-width: 600px) {
	
	#contactArea > p {
		display: none;
	}
	#header {
		padding: 0.3em;
	}

	#welcomeTextArea {
		max-width: unset;
		width: 100vw;
	}

	.mapouter {
		width: unset;
		height: unset;
		max-width: 80vw;
	}
	#facebookHolder {
		background-size: auto 100%;
		background-repeat: no-repeat;
	}
	#facebookHolder > div {
		width: calc(100vw - 50px);
		min-width: 200px;
	}
	#menuTitle::after {
		display: none;
	}
	
}